{% extends 'base.html.twig' %}

{% block subtitle %}
    Homepage
{% endblock %}

{% block main %}

    <div>
        <h2>{{ 'index.last_releases' | trans | capitalize }}</h2>

        {% include 'widgets/item_list/carousel.html.twig' with { 'elements': lastEpisodes } %}
    </div>
    <div>
        <h2>{{ 'index.new_releases' | trans | capitalize }}</h2>

        {% include 'widgets/item_list/carousel.html.twig' with { 'elements': recentEpisodes } %}
    </div>

{% endblock %}

