{% extends 'base.html.twig' %}

{% block subtitle %}
    Homepage
{% endblock %}

{% block main %}

    <div>
        <h2>最新のリリース</h2>

        {% include 'widgets/item_list/carousel.html.twig' with { 'elements': lastEpisodes } %}
    </div>
    <div>
        <h2>Sorties recentes</h2>

        {% include 'widgets/item_list/carousel.html.twig' with { 'elements': recentEpisodes } %}
    </div>

{% endblock %}

