
@latinFont: Raleway Regular, sans-serif;
@cyrillicFont: Robotoslab Regular;
@japaneseFont: NotoSerifJP Regular;
@koreanFont: NotoSerifKR Regular;

/**
 *  Raleway
 */

@font-face {
    font-family: "Raleway Thin";
    src:
    local("/build/assets/fonts/raleway-thin.ttf") format("truetype"),
    local("/build/assets/fonts/raleway-thin.woff") format("woff"),
    local("/build/assets/fonts/raleway-thin.woff2") format("woff2"),
}

@font-face {
    font-family: "Raleway Regular";
    src:
    local("/build/assets/fonts/raleway-regular.ttf") format("truetype"),
    local("/build/assets/fonts/raleway-regular.woff") format("woff"),
    local("/build/assets/fonts/raleway-regular.woff2") format("woff2"),
}

@font-face {
    font-family: "Raleway Medium";
    src:
    local("/build/assets/fonts/raleway-medium.ttf") format("truetype"),
    local("/build/assets/fonts/raleway-medium.woff") format("woff"),
    local("/build/assets/fonts/raleway-medium.woff2") format("woff2"),
}

/**
 * Robotoslab
 */

 @font-face {
    font-family: "Robotoslab Thin";
    src:
    local("/build/assets/fonts/robotoslab-thin.ttf") format("truetype"),
    local("/build/assets/fonts/robotoslab-thin.woff") format("woff"),
    local("/build/assets/fonts/robotoslab-thin.woff2") format("woff2"),
}

@font-face {
    font-family: "Robotoslab Light";
    src:
    local("/build/assets/fonts/robotoslab-light.ttf") format("truetype"),
    local("/build/assets/fonts/robotoslab-light.woff") format("woff"),
    local("/build/assets/fonts/robotoslab-light.woff2") format("woff2"),
}

@font-face {
    font-family: "Robotoslab Regular";
    src:
    local("/build/assets/fonts/robotoslab-regular.ttf") format("truetype"),
    local("/build/assets/fonts/robotoslab-regular.woff") format("woff"),
    local("/build/assets/fonts/robotoslab-regular.woff2") format("woff2"),
}

/**
 * notoserif JP
 */

@font-face {
    font-family: "NotoSerifJP Light";
    src:
    local("/build/assets/fonts/notoserifjp-light.otf") format("opentype"),
    local("/build/assets/fonts/notoserifjp-light.woff") format("woff"),
    local("/build/assets/fonts/notoserifjp-light.woff2") format("woff2"),
}

@font-face {
    font-family: "NotoSerifJP Regular";
    src:
    local("/build/assets/fonts/notoserifjp-regular.otf") format("opentype"),
    local("/build/assets/fonts/notoserifjp-regular.woff") format("woff"),
    local("/build/assets/fonts/notoserifjp-regular.woff2") format("woff2"),
}

@font-face {
    font-family: "NotoSerifJP Medium";
    src:
    local("/build/assets/fonts/notoserifjp-medium.otf") format("opentype"),
    local("/build/assets/fonts/notoserifjp-medium.woff") format("woff"),
    local("/build/assets/fonts/notoserifjp-medium.woff2") format("woff2"),
}

/**
 * notoserif KR
 */

 @font-face {
    font-family: "NotoSerifKR Light";
    src:
    local("/build/assets/fonts/notoserifkr-light.otf") format("opentype"),
    local("/build/assets/fonts/notoserifkr-light.woff") format("woff"),
    local("/build/assets/fonts/notoserifkr-light.woff2") format("woff2"),
}

@font-face {
    font-family: "NotoSerifKR Regular";
    src:
    local("/build/assets/fonts/notoserifkr-regular.otf") format("opentype"),
    local("/build/assets/fonts/notoserifkr-regular.woff") format("woff"),
    local("/build/assets/fonts/notoserifkr-regular.woff2") format("woff2"),
}

@font-face {
    font-family: "NotoSerifKR Medium";
    src:
    local("/build/assets/fonts/notoserifkr-medium.otf") format("opentype"),
    local("/build/assets/fonts/notoserifkr-medium.woff") format("woff"),
    local("/build/assets/fonts/notoserifkr-medium.woff2") format("woff2"),
}
