{% for element in elements %}
    <div class="youplay-carousel owl-carousel">
        <a class="angled-img" href="{{ element.targetLink }}">
            <div class="img">
                <img class="episode-tile" height="200" src="{{ element.thumbnailImage }}">
            </div>
        </a>
        <span>{{ element.text }} <small>{{ element.subText }}</small></span>
    </div>
{% endfor %}