@import 'resources/colors';
@import 'resources/fonts';

body {
    height: 100vh;
    margin: 0;

    background-color: @pageBackgroundColor;
    color: @pageFontColor;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: minmax(auto, 20vw) 65vw minmax(auto, 15vw); //TODO - ca serait cool de faire de l'autofit quand meme
    grid-template-rows: auto auto;
    justify-items: stretch;

    font-family: @latinFont;

    //css grid definition
    main {

        padding: 0 0 2em 2em;

        grid-column: 2 / span 1;
        grid-row: 1 / span 1;

        justify-content: center;
        align-items: stretch;
        align-content: start;
    }

    aside {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    footer {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;

        align-self: end;
        justify-content: center;
        align-items: stretch;
        align-content: start;
    }
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}
