{% extends "base.html.twig" %}

{% block subtitle %}
    Homepage
{% endblock %}

{% block main %}
    <div class="youplay-carousel owl-carousel">
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-02_1556789303.png">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-03_1556877591.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-10_1557524863.png" alt="">
            </div>
        </a>
    </div>
{% endblock %}

