{% extends "base.html.twig" %}

{% block subtitle %}
    Homepage
{% endblock %}

{% block main %}

    <div class="youplay-carousel owl-carousel">
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-02_1556789303.png">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-03_1556877591.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-10_1557524863.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-11_1557584188.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-05-19_1558296665.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-07-07_1562507264.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-07-13_1563019343.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-07-14_1563117137.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-07-16_1563301586.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-07-20_1563618977.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-07-21_1563715698.png" alt="">
            </div>
        </a>
        <a class="angled-img" href="#">
            <div class="img">
                <img class="episode-tile" height="200" src="http://127.0.0.1/images/2019-08-11_1565530179.png" alt="">
            </div>
        </a>
    </div>
{% endblock %}

